<template>
    <div ref="container" @resize="updateWidth" class="pre-wrapper">
        <pre :style="preWidthStyle" :class="{styled}"><slot></slot></pre>
    </div>
</template>

<script>
export default {
    name: 'PreWrapper',
    props: {
        styled: {
            type: Boolean,
            default: true
        }
    },
    data () {
        return {
            preWidth: 0,
        };
    },
    mounted () {
        const resizeObserver = new ResizeObserver(this.updateWidth);
        resizeObserver.observe(this.$refs.container);

        this.updateWidth();
    },
    computed: {
        preWidthStyle () {
            return { width: this.preWidth + 'px' };
        }
    },
    methods: {
        updateWidth () {

            if (this.$refs.container) {
                this.preWidth = this.$refs.container.offsetWidth;
            }
        }
    },
};
</script>

<style>
.pre-wrapper {
    width: 100%;
}

.pre-wrapper pre {
    display: block;
    overflow: auto;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.42857143;
}

.pre-wrapper pre.styled {
    padding: 9.5px;
    color: #333333;
    margin: 0 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pre-wrapper pre.styled::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pre-wrapper pre.styled {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
</style>