<template>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <PreWrapper>{{ headers }}</PreWrapper>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-9">
                    <PreWrapper>{{ headers }}</PreWrapper>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PreWrapper from './components/PreWrapper.vue'

export default {
    name: 'App',
    components: {
        PreWrapper
    },
    data: () => ({
        data: {
            id: 18055,
            email: "example@gmail.com",
            created_at: 164345621,
            deleted: false
        },
        headers: {
            host: 'example.com',
            'x-real-ip': '127.0.0.1',
            'content-length': '406',
            'user-agent': 'GuzzleHttp/7',
            'content-type': 'application/json',
            'Authorization': 'Bearer VnLnJ1L3NlcnZpY2VzL3NycyIsImV4cCI6MTeyJJ1L3NlcnZpY2VzL3NycyIsIMvcGF5IiwiYXVkIjoicm'
        }
    })
}
</script>

<style>
@import "@/styles/bootstrap-grid.min.css";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
